
<div class="container">
  <div id="bgImage">
    <nav class="navbar">
      <ul>
        <div class="oval"></div>
        <li><a href="#about">About Us</a></li>
        <li><a href="#story">Our Story</a></li>
        <li><a href="#course">Courses</a></li>
        <li><a href="#event">Events</a></li>
        <li><a href="#gallery">Our Gallery</a></li>
        <li><mat-card-actions class="text-center">
            <button class="button-customized" mat-raised-button>Contact Us</button>
          </mat-card-actions></li>

      </ul>
      <!-- <div class="image-container"></div> -->
      <div class="container">
        <div class="background"></div>
        <img src="../assets/1-removebg-preview.png" alt="Your Image">
      </div>
      <div class="banner">
        <div class="banner-container">
          <div class="header"><span>Welcome to FBS</span></div>
          <br>

        </div>
        <div class="quote" style="width: 430px;"><b>Empowering Minds through Education</b></div>
        <br>
        <br>
        <mat-card-actions class="text-center">
          <button class="button-customized" style="top: 220px;" mat-raised-button>Read More</button>
        </mat-card-actions>
      </div>


    </nav>

  </div>
  <div class="flex-container">
    <div class="flex-item">
      <div class="bgImageClass" style="background-image: url(../assets/learning.jpg); ">
        <div class="text-overlay">
          <i class="fas fa-graduation-cap" style="background-color: black;"></i>
          <h1>Learning and Fun</h1>
        </div>
      </div>
      <div class="colorDiv" style="background-color: #F7AD19"></div>
    </div>


    <div class="flex-item">
      <div class="bgImageClass" style="background-image: url(../assets/classroom.jpg); ">
        <div class="text-overlay">
          <i class="fas fa-graduation-cap" style="background-color: black;"></i>
          <h1>Innovative Classrooms</h1>
        </div>
        <div class="colorDiv" style="background-color: #F678A7"></div>
      </div>
    </div>

    <div class="flex-item">
      <div class="bgImageClass" style="background-image: url(../assets/safety.jpg); ">
        <div class="text-overlay">
          <i class="fas fa-graduation-cap" style="background-color: black;"></i>
          <h1>Children's Safety</h1>
        </div>
        <div class="colorDiv" style="background-color: #F5A201"></div>
      </div>
    </div>
    <div class="flex-item">
      <div class="bgImageClass" style="background-image: url(../assets/safety.jpg); ">
        <div class="text-overlay">
          <i class="fas fa-graduation-cap" style="background-color: black;"></i>
          <h1>Fun Environment</h1>
        </div>
        <div class="colorDiv" style="background-color: #40b5bc"></div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="bubble">
    <div style="display: flex;" id="about">
      <div class="part1">
        <div style="padding: 20px;">
          <b style="font-size: 34px; color:#FF4500; padding: 30px;">Creators Of Learning Waves</b>
          <h3 style="text-align: justify;padding: 20px;font-weight: bold;font-size: 17px;
      margin-left: 15px;">Welcome to FBS, where education is not just a journey -it's dynamic wave of learning
            experiences. Dive into the origins and philosophy that define our unique approach to empowering minds</h3>
          <mat-card-actions>
            <button class="button-customized" style="margin-left: 50px; background-color: #06065d; color: wheat;"
              mat-raised-button>Read More</button>
          </mat-card-actions>
        </div>
      </div>
      <div class="part2">
        <img src="../assets/play.jpg" style="margin: 150px 50px 0px 50px;" class="image" alt="Top Image">
        <img src="../assets/play.jpg" style="padding: 30px 0 0 0;" class="image" alt="Bottom Image">
      </div>
    </div>
    <br><br><br>
    <div id="story" style="height: 580px; background-color: #06065d; position: relative;">
      <svg width="100%" height="100" viewBox="0 0 500 100" preserveAspectRatio="none" style="display: block;">
        <path d="M0 20
                 C 50 40, 100 0, 150 20
                 S 200 40, 250 20
                 S 300 0, 350 20
                 S 400 40, 450 20
                 L 500 0
                 L 0 0
                 Z" fill="white"></path>
      </svg>

      <div style="text-align: center; font-size: 45px; font-weight: bold; color: #FF4500;">Our Story
      </div>

      <div style="text-align: center; margin-top: 20px; color: white; line-height: 28px; font-size: 20px;">
        <div>FBS - democratizing education, transforming lives</div>
        <div>Join us in shaping the future of learning</div>
      </div>

      <div style="display: flex; justify-content: space-evenly; margin-top: 95px;">
        <div style="width: 350px; height: 150px; background-color: #fff; border-radius: 45px;">
          <div style="border: 2px dashed black; border-radius: 31px; margin: 13px; height: 117px;">
            <h2 style="text-align: center; margin-top: 10px;font-weight: bold;color: #FF4500;">MISSION</h2>
            <p style=" text-align: center;font-size: 15px;margin-top: -5px;">
              At FBS, we empower through accessible, quality education
            </p>
          </div>
        </div>
        <div style="width: 350px; height: 150px; background-color: #fff; border-radius: 45px;">
          <div style="border: 2px dashed black; border-radius: 31px; margin: 13px; height: 117px;">
            <h2 style="text-align: center; margin-top: 10px;font-weight: bold;color: #FF4500;">VISION</h2>
            <p style=" text-align: center;font-size: 15px;margin-top: -5px;">
              FBS, envisions a boundry free world of lifelong learning.
            </p>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      <svg width="100%" height="100" viewBox="0 0 500 100" preserveAspectRatio="none" style="display: block;">
        <path d="M0 20
                 C 50 40, 100 0, 150 20
                 S 200 40, 250 20
                 S 300 0, 350 20
                 S 400 40, 450 20
                 L 500 0
                 L 0 0
                 Z" fill="white" transform="rotate(180 250 20)"></path>
      </svg>
    </div>
    <br><br><br><br>
    <div class="container" id="course">
      <div style="text-align: center; font-size: 45px; font-weight: bold; color: #FF4500;background-color: transparent;">Educational Programs</div>
      <div style="text-align: center; margin-top: 30px; line-height: 28px; font-size: 20px;">
        <div>Dive into impactful learning with our diverse programs.</div>
        <div>Start your journey now</div>
      </div>
    
      <!-- Single row with 3 boxes -->
      <div class="row">
        <div style="display: flex;justify-content: center;">
          <div class="box" style="background-image: url(../assets/coding.jpg)">
            <p style="text-align: center; margin-top: 300px; font-size: 25px; color: #000000;">Computer Classes</p>
          </div>
          
          <div class="box" style="background-image: url(../assets/lab.jpg)">
            <p style="text-align: center; margin-top: 300px; font-size: 25px; color: #000000;">Science & Technology</p>
          </div>
          <div class="box" style="background-image: url(../assets/playing.jpg)">
            <p style="text-align: center; margin-top: 300px; font-size: 25px; color: #000000;">Outdoor Sports & Games</p>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>
    
    
  </div>
  <div style="height: 500px; background-color: #06065d; position: relative;">
    <svg width="100%" height="100" viewBox="0 0 500 100" preserveAspectRatio="none" style="display: block;">
      <path d="M0 20
               C 50 40, 100 0, 150 20
               S 200 40, 250 20
               S 300 0, 350 20
               S 400 40, 450 20
               L 500 0
               L 0 0
               Z" fill="white"></path>
    </svg>
    <div style="display: flex;">
      <div style="width: 10%;"></div>
      <div style="width: 25%;">
        <svg width="3cm" height="3cm" viewBox="0 0 3 3" xmlns="http://www.w3.org/2000/svg">
          <circle cx="1.5" cy="1.5" r="1.3" fill="#FF4500" stroke-width="0.1" />
          <text x="0.6" y="1.9"  font-size="0.8" fill="WHITE">FBS</text>
        </svg>
        <h3 style="color: white;font-size: 20px;">Elevate Your Learning Experience with Us, Where Knowledge Meets Innovation.</h3>
        <div style="display: flex; gap: 10px;">
          <div class="yellowBox">
            <i class="fa-brands fa-instagram" style="background-color: black;"></i>
          </div>
          <div class="yellowBox">
            <i class="fab fa-twitter fa-lg"></i>
          </div>
          <div class="yellowBox">
            <i class="fab fa-facebook fa-lg"></i>
          </div>
          <div class="yellowBox">
            <i class="fab fa-instagram fa-lg"></i>
          </div>
      </div>
      </div>
      <div style="width: 15%;margin:90px 85px">
        <h1 style="color: #FF4500;">Menu</h1>
        <h3><a href="#about" style="color: white;">About Us</a></h3>
        <h3><a href="#story" style="color: white;">Our Story</a></h3>
        <h3><a href="#course" style="color: white;">Courses</a></h3>
        <h3><a href="#event" style="color: white;">Events</a></h3>
        <h3><a href="#gallery" style="color: white;">Our Gallery</a></h3>
      </div>
      <div style="width: 30%;margin:90px 85px">
        <h1 style="color: #FF4500;">Get in touch</h1>
        <h3 style="color: white;">800 main Road Street</h3>
        <h3 style="color: white;">+917980298841</h3>
        <h3 style="color: white;">info.in</h3>
      </div>
    </div>
    
  </div>
</div>